HTML {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

BODY {
    background: #ffffff;
}

DIV.section {
/*
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    */
    background-color: #ffffff;
    padding: 2px 10px 2px 50px;
    margin: 10px 0px 10px 0px;
}

.sectionlabel {
     margin-right: 1em;
     font-size: 120%;
     font-weight: bold;
}

h1 {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 10px 10px 10px 10px;
}

body {
    font-family: Arial, MS Arial, sans-serif;
    margin: 0;
}

h2, img {
    text-align: center;
}

.notime {
    text-decoration: line-through;
}

.doneform {
    display: inline;
}

.section.done {
     background: url("done.png") #00D no-repeat no-repeat; 
     background-color: #FFFFFF;
     color: #000000;
     border: 1px solid #000000;
     margin-right: 10px;
     margin-left: 10px;
}

.section.willdo {
   /*  background: url("grad.png") #00D repeat no-repeat; 
     background-color: #790401;   */
     background-color: #FFFFFF;
     color: #000000;
     border: 1px solid #000000;
     margin-right: 10px;
     margin-left: 10px;
}

.section.willdo.current {
     background-color: #888888;
}

.editlink {
    margin-left: 20px;
}